<h2>Utilisateurs</h2>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Numéro de téléphone</th>
        <th>Plus d'informations</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.phone}}</td>
        <td><button class="btn btn-success" (click)="showInfo(user)">Afficher</button></td>
      </tr>
    </tbody>
  </table>
</div>