<form [formGroup]="contactForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="email">Adresse électronique</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      placeholder="Entrez votre email"
      id="email"
      required
    />
    <small class="form-text text-muted"
      >Nous ne partagerons jamais votre email.</small
    >
  </div>

  <div class="form-group">
    <label>Message</label>
    <textarea
      class="form-control"
      formControlName="message"
      placeholder="Entrez votre message"
    ></textarea>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" />
    <label class="form-check-label">Accepter de recevoir des promotions.</label>
  </div>

  <button type="submit" class="btn btn-success">Envoyer</button>
</form>
